footer {
    background-color: var(--main-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.footer-section {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.footer-section > nav {
    width: auto;
}

.doormat-nav > li a {
    color: white;
}

.footer-list {
    padding: 0;
}

@media (min-width: 1000px) {
    footer {
        flex-direction: row;
        gap: 0;
    }
    .footer-section {
        height: 100%;
        padding: 2rem;
    }
}