/*App.css */

.grid-adjustable-columns {
  display: grid;
  /* grid-auto-flow: row; */
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.column {
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}



.align-center {
  align-items: center;
}

h1 {
  font: 400 var(--font-size-40) 'Markazi', serif;
}
h2 {
  font: 400 var(--font-size-24) 'Markazi', serif;
}
p {
  font: 500 var(--font-size-18) 'Karla', serif;
}

ul {
  list-style: none;
}



button {
  background-color: var(--main-color-two);
  /* height: 60px;
  width: 260px; */
  font: 800 20px 'Karla', serif; 
  padding: .5rem 2rem;
  border: none;
  border-radius: 16px;
  transition: filter 0.3s ease; /* Smooth transition */
}

button:hover {
  filter: brightness(70%); /* Darkens the color by 10% */
}

button:active {
  filter: brightness(50%); /* Darkens the color by 10% */

}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: auto 3fr 3fr; */
}



@media (min-width: 400px) {
  h1 {
    font: 400 var(--font-size-64) 'Markazi', serif;
  }
  h2 {
    font: 400 var(--font-size-40) 'Markazi', serif;
  }
  p {
    font: 400 var(--font-size-20) 'Karla', serif;
  }
  button {
    font: 800 24px 'Karla', serif; 
    padding: 0.5rem 2rem;

  }
}


@media (min-width: 1000px) {
  .grid-adjustable-columns {
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust columns automatically */
    gap: 1em;
  }

  .main-grid {
    /* grid-template-rows: auto; */
  }
}
