/*index.css*/

:root {
  --main-color: #495E57; /*Green*/
  --main-color-two: #F4CE14; /* Yellow*/
  --secondary-color-one: #EE9972;
  --secondary-color-two: #FBDABB;
  --highlight-color-one: #EDEFEE;
  --highlight-color-two: #333333;

  --font-size-64: 4rem; /*All font sizes converted for rem for easy use */
  --font-size-40: 2.5rem;
  --font-size-24: 1.5rem;
  --font-size-20: 1.25rem;
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;
}

body {
  margin: 0;
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Markazi', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container{
  display: grid;
  grid-template-rows: auto 5fr auto;
  /* grid-gap: 20px; */
  height: 100vh;
  width: 100%;
}

/* Make header, main, and footer span the full width */
.header, .main, .footer {
  grid-column: 1 / -1; /* Span across all columns */
}

/* Adjust the footer to remain at the bottom */
.footer {
  align-self: end; /* Keep it aligned to the bottom if needed */
}
